.main {
  background-color: #0a192f;
  width: 100%;
  margin: 0px;
  padding: 0px;
  outline: none;
  border: 0px;
  display: flex;
  flex-direction: row;
  // overflow-y: scroll;
}

.left-information {
  width: 10%;
  bottom: 0;
  color: #a8b2d1;
  position: fixed;
}

.li-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-container a {
  padding: 10px;
}

#li-li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-top: 32%;
}
.li-container a svg {
  width: 20px;
  height: 20px;
}
svg {
  vertical-align: middle;
}

svg:hover path {
  fill: #64ffda;
}

.right-information {
  margin-left: 90%;
  width: 10%;
  bottom: 0;
  color: #a8b2d1;
  position: fixed;
}

.ri-container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.ri-container a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.1em;
  font-size: 14px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

#mail:hover {
  color: #64ffda;
}

.line {
  margin-top: 40px;
  border-left: 1px solid white;
  height: 80px;
}
// Custom Navbar
.navbar {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 8vh;
  padding-bottom: 0.8%;
  background-color: rgba(10, 25, 47, 0.85);
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7);
}

.logo {
  height: 100%;
  width: 10%;
  margin-left: 1%;
}

#logo {
  margin-top: 15px;
  margin-left: 30%;
  height: 55%;
  object-fit: cover;
  border-radius: 50%;
  border: thick solid #64ffda;
}

.left-nav {
  width: 88%;
  height: 100%;
  margin-right: 5%;
}

.left-nav ol {
  width: 25%;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  float: right;
  justify-content: space-between;
  align-items: center;
}

.left-nav li {
  margin: 0;
  padding-top: 2%;
}

.left-nav li::marker {
  color: #64ffda;
  font-size: 15px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.left-nav a {
  color: #a8b2d1;
  cursor: pointer;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  margin-left: 1%;
  font-size: 13px;
  text-decoration: none;
}

.left-nav a:hover {
  color: #64ffda;
}

#toggler,
.navbar label {
  display: none;
}
// ------------------

// Custom main information
.middle-container {
  margin-left: 10%;
  width: 80%;
}

.first-infor {
  // height: 100vh;
  margin-left: 8%;
  padding-top: 16%;
}

.first-infor p {
  width: 60%;
  font-size: 20px;
}

.resume-btn {
  margin-top: 3%;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 5px;
  padding-top: 1.7%;
  padding-bottom: 1.7%;
  padding-left: 2.3%;
  padding-right: 2.3%;
  font-size: 1rem;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #64ffda;
  cursor: pointer;
}

//Button on Hover
.resume-btn:hover {
  box-shadow: 5px 8px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

// -------------------

// Custom About me
.about-me {
  margin-top: 20%;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 5%;
}

.headline {
  display: flex;
  flex-direction: row;
}

.hori-line {
  width: 20vw;
  margin-top: 5%;
  border-top: 1px solid #a8b2d1;
}

.about-me-infor {
  width: 80%;
  margin-left: 10%;
}

.personal-infor {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-bottom: -1%;
}

#tittle {
  width: 20%;
  margin-right: 5%;
  color: #64ffda;
  line-height: 1.3;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

#content {
  width: 75%;
  // font-size: 2vmin;
  color: #8892b0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
// ---------------

// Custom Work History

button {
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
}

.work-history {
  margin-top: 15%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 20%;
}

.work-history .headline {
  margin-bottom: 3%;
}

.inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.tablist {
  width: 25%;
  margin-left: 10%;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #8892b0;
  text-align: left;
  font-size: 16px;
  text-decoration: none;
}

.tablist button {
  background-color: transparent;
  text-align: left;
  height: 7vh;
  // padding: 5% 0 5% 10%;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #8892b0;
  font-size: 16px;
  width: 100%;
  border-left: 2px solid #233554;
}

.tablist button:focus {
  color: #64ffda;
  border-left: 2px solid #64ffda;
}

.tablist button:hover {
  background-color: #495670;
}

.joblist {
  padding-left: 4%;
}

.job1 {
  width: 100%;
}
.job2 {
  width: 100%;
}


.job-description {
  color: white;
  font-weight: 500;
  font-size: 22px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  line-height: 0.6;
}

#company {
  color: #64ffda;
}

#company a {
  color: #64ffda;
  text-decoration: none;
}

#company a:hover {
  color: orange;
}

.range {
  color: #a8b2d1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 15px;
}

.job-detail {
  box-sizing: inherit;
  display: block;
}

.job-detail ul {
  padding-left: 0;
}

.job-detail ul li {
  list-style-type: none;

  left: 0px;
  margin-bottom: 2%;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  display: list-item;
  text-align: -webkit-match-parent;
  color: #a8b2d1;
  font-size: 16px;
}

.job-detail ul li::before {
  content: "▹";
  color: #64ffda;
  padding-right: 1%;
}
// CONTACT ME

.contact-me {
  text-align: center;
  align-items: center;
  width: 100%;
}

.contact-me h2 {
  color: #ccd6f6;
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 600;
  margin-top: 0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

.contact-me-p {
  width: 50%;
  padding-left: 25%;
}

// Footer

footer {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  width: 100%;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 2%;
}

footer a {
  text-decoration: none;
}

.footer-text:hover {
  color: #64ffda;
}

// ----------------------
@media (min-width: 768px) and (max-width: 992px) {
}

// For MOBILE Version

@media only screen and (max-width: 767px) {
  .left-information {
    display: none;
    width: 0;
  }
  .right-information {
    display: none;
    width: 0;
  }

  .navbar {
    // padding-bottom: 4%;
    display: none;
    height: 12%;
    box-shadow: none;
  }

  .left-nav {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  .left-nav ol {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .left-nav li::marker {
    // margin-left: 2%;

    font-size: 14px;
  }

  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }

  #toggler:checked ~ .left-nav {
    max-height: 100%;
  }

  #logo {
    height: 48%;
  }
  // ________________________________________
  .middle-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .first-infor {
    padding-top: 20%;
    margin-left: 0;
  }

  .first-infor p {
    width: 100%;
    font-size: 18px;
  }

  // CSS for ABOUT ME

  .about-me-infor {
    display: flex;
    flex-direction: column;
  }

  .personal-infor {
    flex-direction: column;
  }

  .about-me {
    width: 100%;
    margin-left: 0;
  }

  #content {
    font-size: 18px;
    align-content: center;
    width: 100%;
  }

  .about-me-infor {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #tittle {
    font-size: 5vw;
  }

  // CSS for Experience (PART 2)

  .work-history {
    margin-left: 0;
    width: 100%;
  }

  .inner {
    flex-direction: column;
  }

  .tablist {
    margin-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .tablist button {
    border-left: none;
    border-bottom: 2px solid #233554;
  }

  .tablist button:focus {
    color: #64ffda;
    border-bottom: 2px solid #64ffda;
    border-left: none;
  }

  .job-description {
    font-size: 20px;
  }

  #company {
    line-height: 1.5;
    white-space: nowrap;
  }

  // CSS PART 3 MISSING STH

  .contact-me-p {
    width: auto;
    padding-left: 0;
    font-size: 18px !important;
  }

  // footer

  footer {
    font-size: 12px;
    margin-bottom: 3%;
  }
}
