<div class="main">
    <div class="navbar">
        <div class="logo">
            <a href=""><img id="logo" src="assets/images/Logo.png"></a>
        </div>
        <input type="checkbox" id="toggler">
        <label for="toggler"><i class="ri-menu-line"></i></label>
        <div class="left-nav">
            <ol>
                <li>
                    <a href="#about" class="about-nav">About</a>
                </li>
                <li>
                    <a href="#experience" class="exp-nav">Experience</a>
                </li>
                <li>
                    <a class="cnt-nav">Contact</a>
                </li>
            </ol>
        </div>

    </div>
    <div class="left-information">
        <ul class="li-container">
            <li id="li-li">
                <a href="https://www.instagram.com/steven_thegudboy/" aria-label="Instagram" target="_blank"
                    rel="noreferrer">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="512.000000pt" height="512.000000pt"
                        viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#f7f7f7"
                            stroke="none">
                            <path d="M1220 5105 c-628 -87 -1121 -584 -1206 -1215 -20 -155 -20 -2505 0
-2660 42 -312 180 -592 402 -814 221 -221 502 -360 814 -402 155 -20 2505 -20
2660 0 636 86 1130 580 1216 1216 20 155 20 2505 0 2660 -86 636 -580 1130
-1216 1216 -148 19 -2526 19 -2670 -1z m2562 -445 c244 -23 445 -118 609 -287
160 -165 246 -354 269 -591 13 -144 13 -2300 0 -2444 -23 -237 -109 -426 -269
-591 -164 -169 -365 -264 -609 -287 -144 -13 -2300 -13 -2444 0 -244 23 -445
118 -609 287 -160 165 -246 354 -269 591 -13 144 -13 2300 0 2444 23 244 118
445 287 609 159 155 356 247 573 268 127 12 2333 13 2462 1z" />
                            <path d="M3813 4239 c-75 -29 -144 -95 -178 -171 -97 -212 50 -453 284 -466
113 -6 228 51 290 145 41 61 55 113 54 196 -2 222 -238 378 -450 296z" />
                            <path d="M2380 3865 c-290 -41 -542 -167 -750 -375 -224 -223 -348 -488 -381
-813 -33 -311 66 -658 260 -912 58 -77 179 -198 256 -256 254 -194 601 -293
913 -260 324 33 589 157 812 381 224 223 348 488 381 812 27 257 -35 543 -168
773 -268 466 -793 724 -1323 650z m380 -465 c311 -75 565 -329 640 -640 27
-116 27 -284 0 -400 -59 -248 -233 -463 -463 -575 -126 -61 -233 -85 -377 -85
-144 0 -251 24 -377 85 -230 112 -404 327 -463 575 -27 116 -27 284 0 400 74
308 327 564 635 639 112 28 291 28 405 1z" />
                        </g>
                    </svg></a>
            </li>
            <li id="li-li">
                <a href="https://github.com/nguyentr02" aria-label="Github" target="_blank" rel="noreferrer">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="240.000000pt" height="240.000000pt"
                        viewBox="0 0 240.000000 240.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,240.000000) scale(0.100000,-0.100000)" fill="#f7f7f7"
                            stroke="currentColor">
                            <path d="M970 2301 c-305 -68 -555 -237 -727 -493 -301 -451 -241 -1056 143
-1442 115 -116 290 -228 422 -271 49 -16 55 -16 77 -1 24 16 25 20 25 135 l0
118 -88 -5 c-103 -5 -183 13 -231 54 -17 14 -50 62 -73 106 -38 74 -66 108
-144 177 -26 23 -27 24 -9 37 43 32 130 1 185 -65 96 -117 133 -148 188 -160
49 -10 94 -6 162 14 9 3 21 24 27 48 6 23 22 58 35 77 l24 35 -81 16 c-170 35
-275 96 -344 200 -64 96 -85 179 -86 334 0 146 16 206 79 288 28 36 31 47 23
68 -15 36 -11 188 5 234 13 34 20 40 47 43 45 5 129 -24 214 -72 l73 -42 64
15 c91 21 364 20 446 0 l62 -16 58 35 c77 46 175 82 224 82 39 0 39 -1 55 -52
17 -59 20 -166 5 -217 -8 -30 -6 -39 16 -68 109 -144 121 -383 29 -579 -62
-129 -193 -219 -369 -252 l-84 -16 31 -55 32 -56 3 -223 4 -223 25 -16 c23
-15 28 -15 76 2 80 27 217 101 292 158 446 334 590 933 343 1431 -145 293
-419 518 -733 602 -137 36 -395 44 -525 15z" />
                        </g>
                    </svg>

                </a>
            </li>
            <li id="li-li">
                <a href="https://www.linkedin.com/in/truong-pham-tuan-nguyen-3497b0218" aria-label="linkedin"
                    target="_blank" rel="noreferrer">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="635.000000pt" height="540.000000pt"
                        viewBox="0 0 635.000000 540.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,540.000000) scale(0.100000,-0.100000)" fill="#f7f7f7"
                            stroke="none">
                            <path d="M278 5376 c-105 -38 -201 -127 -240 -224 l-23 -57 0 -2375 0 -2375
23 -57 c31 -76 105 -156 184 -199 l63 -34 2400 0 2400 0 62 34 c77 41 146 113
181 189 l27 57 0 2385 0 2385 -27 57 c-35 76 -109 153 -183 192 l-60 31 -2385
2 c-1945 2 -2392 0 -2422 -11z m1051 -735 c84 -26 137 -59 202 -128 63 -66 89
-111 114 -197 23 -77 16 -199 -14 -278 -96 -249 -387 -368 -624 -255 -294 139
-358 521 -126 747 119 115 295 159 448 111z m2538 -1207 c45 -8 120 -28 167
-45 285 -103 437 -316 509 -714 22 -117 22 -139 22 -980 l0 -860 -395 0 -395
0 -6 780 c-5 710 -7 785 -23 840 -28 93 -66 162 -113 206 -65 60 -121 81 -235
87 -223 11 -360 -58 -438 -223 -64 -137 -64 -135 -70 -950 l-5 -740 -395 0
-395 0 -3 1278 -2 1277 385 0 385 0 0 -177 0 -178 27 40 c135 202 357 342 590
374 84 12 280 4 390 -15z m-2269 -1321 l-3 -1278 -395 0 -395 0 -3 1278 -2
1277 400 0 400 0 -2 -1277z" />
                            <path d="M5813 695 c-43 -21 -87 -53 -109 -78 -146 -167 -114 -425 66 -546 73
-48 140 -65 235 -59 272 18 423 327 274 560 -37 57 -74 90 -143 125 -43 23
-67 28 -151 31 -99 4 -101 3 -172 -33z m290 -28 c74 -34 131 -88 164 -155 24
-48 28 -70 28 -137 0 -66 -5 -90 -27 -137 -117 -250 -466 -252 -588 -3 -34 68
-35 197 -4 266 77 166 266 240 427 166z" />
                            <path d="M5850 370 l0 -190 25 0 c25 0 25 1 25 85 l0 85 34 0 c31 0 37 -6 87
-85 47 -74 57 -85 82 -85 32 0 34 -6 -34 97 l-48 71 27 7 c65 16 96 83 68 148
-20 48 -45 57 -167 57 l-99 0 0 -190z m202 133 c10 -9 18 -30 18 -49 0 -47
-29 -64 -107 -64 l-63 0 0 65 0 65 67 0 c48 0 72 -5 85 -17z" />
                        </g>
                    </svg>

                </a>
            </li>
            <li id="li-li">
                <a href="https://www.facebook.com/profile.php?viewas=100000686899395&id=100008572837094"
                    aria-label="facebook" target="_blank" rel="noreferrer">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="2084.000000pt" height="2084.000000pt"
                        viewBox="0 0 2084.000000 2084.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,2084.000000) scale(0.100000,-0.100000)" fill="#f7f7f7"
                            stroke="none">
                            <path d="M9920 20820 c-1333 -71 -2554 -361 -3730 -885 -2855 -1272 -4991
-3759 -5815 -6770 -259 -946 -378 -1902 -362 -2910 8 -467 28 -753 83 -1185
161 -1266 567 -2515 1180 -3638 1018 -1860 2569 -3362 4459 -4317 621 -313
1278 -566 1930 -743 99 -27 192 -52 208 -56 l27 -6 0 3460 0 3460 -1072 2
-1073 3 0 1590 0 1590 1071 3 1072 2 5 928 c5 900 9 1030 43 1392 170 1832
900 3055 2205 3695 587 288 1283 457 2159 525 228 18 824 24 1060 11 571 -32
1204 -106 1630 -191 107 -22 209 -43 225 -48 l30 -8 3 -1449 2 -1448 -62 6
c-293 30 -1331 42 -1583 19 -656 -60 -1086 -223 -1390 -527 -229 -229 -378
-530 -459 -928 -64 -311 -76 -528 -76 -1329 l0 -648 1700 0 c935 0 1700 -4
1700 -8 0 -5 -130 -719 -290 -1587 -159 -868 -290 -1582 -290 -1587 0 -4 -634
-8 -1410 -8 l-1410 0 0 -3575 c0 -2853 3 -3575 13 -3575 33 0 447 64 616 95
1630 299 3167 988 4491 2014 558 432 1139 991 1596 1537 413 491 805 1062
1128 1639 197 352 470 936 617 1323 706 1848 872 3861 478 5815 -457 2266
-1694 4356 -3469 5858 -1445 1222 -3164 2020 -5015 2329 -313 52 -664 92
-1040 120 -183 14 -987 21 -1185 10z" />
                        </g>
                    </svg>

                </a>
            </li>
            <div class="line"></div>

        </ul>
    </div>

    <div class="middle-container">

        <div class="first-infor">
            <h1
                style="font-weight: 400; font-size: clamp(14px,5vw,16px); font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace ;color: #64ffda;">
                Hi, my name is </h1>
            <h1
                style="margin-top: -0.5%; font-size: clamp(40px, 8vw, 80px); font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;color: #ccd6f6;">
                Steven Truong.</h1>
            <h1
                style="margin-top: -5%; font-size: clamp(40px, 8vw, 80px);font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;color:#8892b0 ;">
                I make friendly website.</h1>
            <p
                style=" margin-top: -1.5%; font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif; color: #8892b0;">
                I'm a software developer specializing in building exceptional digital experiences. I'm a creative
                thinker and do-er who have a strong passion with website building. </p>
            <a href="https://drive.google.com/file/d/1W6kqHefKPcIaxKcDaPZp6w0R-zhGfCEx/view?usp=sharing"
                target="_blank"><button class="resume-btn">Check out my Resume!</button></a>
        </div>
        <div class="about-me">
            <div class="headline">
                <p
                    style="padding-right: 10px; line-height: 1.45 ;align-content: center; font-weight: 400; font-size: clamp(26px,5vw,32px); margin-right: 2px; color: #64ffda; font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace ;">
                    01.
                </p>
                <p
                    style=" color: white;font-weight: 700; font-size: clamp(26px,5vw,32px); font-family:'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif ;">
                    About Me</p>
            </div>
            <div class="about-me-infor">
                <div class="personal-infor">
                    <p id="tittle">Full Name:</p>
                    <p id="content">Truong Pham Tuan Nguyen (Steven Truong)</p>
                </div>
                <div class="personal-infor">
                    <p id="tittle">DOB:</p>
                    <p id="content">27th June</p>
                </div>
                <div class="personal-infor">
                    <p id="tittle">Gender:</p>
                    <p id="content">Male</p>
                </div>
                <div class="personal-infor">
                    <p id="tittle">Location:</p>
                    <p id="content">Melbourne, VIC 3000, Australia</p>
                </div>
                <div class="personal-infor">
                    <p id="tittle">Phone:</p>
                    <p id="content">(+61) 432 920 365</p>
                </div>
                <div class="personal-infor">
                    <p id="tittle">Email:</p>
                    <p id="content">truongphamtuannguyen&#64;gmail.com</p>
                </div>
            </div>
        </div>
        <div class="work-history">
            <div class="headline">
                <p
                    style=" line-height: 1.45; align-content: center; padding-right: 10px; font-weight: 400; font-size: clamp(26px,5vw,32px); margin-right: 2px; color: #64ffda; font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace ;">
                    02.
                </p>
                <p
                    style=" align-content: center; color: white;font-weight: 700; font-size: clamp(26px,5vw,32px); font-family:'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif ;">
                    Where I've Worked</p>
            </div>
            <div class="inner">
                <!-- <div role="tablist" class="tablist">
                    <button class="tablist-button" id="tab-0" role="tab" tabindex="0" aria-selected="true" (click)="changeInner(0)"><span>HealthyFungi</span></button>
                    <button class="tablist-button" id="tab-1" role="tab" tabindex="-1" aria-selected="true"(click)="changeInner(1)"><span>BAP Software</span></button>
                </div> -->
                <div class="tablist">
                    <button (click)="toggleShowjob1()">
                        HealthyFungi
                    </button>
                    <button (click)="toggleShowjob2()">
                        BAP Software
                    </button>
                </div>
                <div class="joblist">
                    <div class="job1" *ngIf='showjob1'>
                        <h3 class="job-description">
                            <span id="job-title">Fullstack Developer, Team Leader</span>
                            <span id="company">
                            &nbsp;&#64;&nbsp;
                                <a href="https://healthyfungi.com.au/" rel="noopener noreferrer"
                                    target=”_blank”>HealthyFungi</a>
                            </span>
                        </h3>
                        <p class="range">
                            June 2023 - July 2024
                        </p>
                        <div class="job-detail">
                            <ul>
                                <li>
                                    Create a e-commerce website using Shopify and Wordpress
                                </li>
                                <li>
                                    Make user-friendly and responsive UI.
                                </li>
                                <li>
                                    Work alongside owner to lead the development fulfill business requirements
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="job2" *ngIf="showjob2">
                        <h3 class="job-description">
                            <span>Blockchain Intern Developer</span>
                            <span id="company">
                                &nbsp;&#64;&nbsp;
                                <a href="https://bap-software.net/en/" rel="noopener noreferrer" target=”_blank”>BAP
                                    Software</a>
                            </span>
                        </h3>
                        <p class="range">
                            June 2022 - September 2022
                        </p>
                        <div class="job-detail">
                            <ul>
                                <li>
                                    Develop Website's Front-end and write Smart Contract using
                                    Solidity.
                                </li>
                                <li>
                                    Proven ability to learn quickly and adapt to new situations.
                                </li>
                                <li>
                                    Excellent communication skills, both verbal and written.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-me">
            <div>
                <p
                    style="line-height: 2.2 ; font-weight: 400; font-size: 16px;  color: #64ffda; width: 100%; font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace ;">
                    03. Missing Something ?
                </p>
                <h2>Get In Touch</h2>
                <p class="contact-me-p" style="  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
                color: #a8b2d1; font-size: 20px;">I'm excited to explore new opportunities where I can put my skills
                    and experience to great use. Don't
                    hesitate to drop me a line at my email or give me a call. I'd love to
                    chat more about how I can help your team achieve amazing results!</p>
                <a href="mailto:truongphamtuannguyen@gmail.com"><button class="resume-btn"
                        style="font-size: 20px; padding: 1.25rem 1.75rem;">Say Hi</button></a>
            </div>
        </div>
        <footer>
            <a href="https://github.com/nguyentr02" target="_blank" style="color: #a8b2d1;">
                <div class="footer-text">Designed & Built by Steven Truong</div>
            </a>
        </footer>
    </div>
    <div class="right-information">
        <div class="ri-container">
            <a href="mailto:truongphamtuannguyen@gmail.com" id="mail">truongphamtuannguyen&#64;gmail.com</a>
            <div class="line"></div>
        </div>

    </div>
</div>